<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>

<body style="background-image:url('{% static 'bg1.jpg' %}');background-repeat:no-repeat;background-size:100%">
<center><h1>WHAT WOULD <span>YOU LIKE</span><br>TO LEARN?</h1></center>
<div class="a3">
  <div class="a1">
    <h2>STUDENTS</h2>
      <h4><a href="student"> CLICK HERE TO SIGNUP AS STUDENT</a></h4>
  </div>
    <div class="a2">
      <h2>COLLEGE</h2>
        <h4><a href="college">CLICK HERE TO SIGNUP AS COLLEGE</a></h4>
  </div>
</div>
<p><a href="login"><span>Already have an account?</span>Login</a></p>
</body>
</html>