<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'student1.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<ul>
    <li><a href="profile">MY PROFILE</a></li>
    <li><a class="log" href="log" >LOGOUT</a></li>
</ul>
<body style="background-image:url('{% static 'bg6.jpg' %}');background-repeat:no-repeat;background-size:100%">
<div class="s1">
    <h3><a href="sub1">SCIENCE</a></h3>
</div>
<div class="s2">
    <h3><a href="sub2">COMMERCE AND MANAGEMENT STUDIES</a></h3>
</div>
<div class="s3">
    <h3><a href="sub3">LANGUAGE AND LITERATURE</a></h3>
</div>
<div class="s4">
    <h3><a href="sub4">HUMANITIES</a></h3>
</div>
<div class="s5">
    <h3><a href="sub5">FINE ARTS</a></h3>
</div>
<div class="s6">
    <h3><a href="sub6">JOURNALISM</a></h3>
</div>
<div class="s7">
    <h3><a href="sub7">ENGINEERING</a></h3>
</div>
<div class="s8">
    <h3><a href="sub8">LAW</a></h3>
</div>
</body>
</html>